# Skill Grow IND - Enterprise Environment Configuration
# Firebase Production Credentials

VITE_FIREBASE_API_KEY=AIzaSyBmkLO0FtDm7Hcc2pJ1cEaJPjfs6G4x8p4
VITE_FIREBASE_AUTH_DOMAIN=skill-grow-ind.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skill-grow-ind
VITE_FIREBASE_STORAGE_BUCKET=skill-grow-ind.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1019621936948
VITE_FIREBASE_APP_ID=1:1019621936948:web:f5ed8e6ecd673a01bbdf61
VITE_FIREBASE_MEASUREMENT_ID=G-G58EG4HPWZ

